.titlebox {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  color: #7c7e82;
  margin-bottom: 10px;
}

.ul {
  list-style-type: none;
  padding: 0;
}

.li:hover {
  background-color: #40444c79;
  color: rgba(255, 255, 255, 0.692);
}

.li {
  border-radius: 5px;
}

.avatar {
  height: 36px;
  width: 36px;
  border-radius: 40px;
}

.name {
  margin-left: 8px;
  font-weight: 500;
}
