.box {
  background-color: #2f3137;
  width: 240px;
  height: calc(100vh - 25px);
  border-radius: 15px 0 0 0;
  color: #6f7076;
  padding-right: 4px;
}

.fdBox {
  padding-left: 13px;
  /* padding-right: 13px; */
  padding-bottom: 13px;
  padding-top: 13px;
  height: calc(100% - 107px);
}

.insideBox {
}

.userBox {
  width: calc(100% + 12px);
  padding-left: 12px;
  height: 55px;
  background-color: #2b2c30;
  padding-top: 11px;
}
