.Dropdown {
  outline: none;
}

.Dropdown.Toggle {
  outline: none;
}

/* .userBoxTwo {
  padding-left: -12px;
} */
/* 
.dropdown {
  background: transparent;
  border: none;
} */

.menu {
  background-color: #202226;
}

.item {
  color: rgba(255, 255, 255, 0.692);
  font-size: 13px;
}
.change {
  margin-left: -10px;
  margin-right: 5px;
  display: inline;
}
