.OutsideBox {
  box-sizing: border-box;
  background-color: #202226;
}

.topBox {
}

.bigBox {
  height: calc(100vh - 25px);
  width: 100%;
  display: flex;
  background-color: #202226;
}

.veryBox {
  width: 90px;
}

.sideMainBox {
  display: flex;
  width: 100%;
  background-color: white;
}

.side {
  height: calc(100vh - 25px);
  background-color: #202226;
}

.main {
  width: 100%;
}
