.avatar {
  height: 44px;
  width: 44px;
  border-radius: 44px;
}

.avatar:hover {
  height: 44px;
  width: 44px;
  border-radius: 10px;
  transition: border-radius 0.2s;
}

.ul {
  text-align: center;
}

.name {
  font-size: 12px;
}

.li {
  position: relative;
  margin-bottom: 10px;
}

.li:hover {
  /* border-left: 2px solid white ; */
}

.plus {
  /* color: green; */
}

.plusBox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2f3135;
  height: 44px;
  width: 44px;
  border-radius: 40px;
  margin: auto;
  color: #4ca57b;
}
.plusBox:hover {
  border-radius: 10px;
  color: white;
  background-color: #4ca57b;
  transition: border-radius 0.2s;
}

.badge {
  position: absolute;
  right: 10px;
  bottom: 20px;
  width: 22px;
}
